@charset "UTF-8";


body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('imagens/fundo.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    }


header{    
    padding: 10px;
    height: 70px;
}

li{
    list-style: none;
    color: white;
    font-size: 18px;
    display: inline;

    }
  

.nav-menu a:hover::after{
    width: 100%;
} 

.nav-menu ul li a{
    margin-bottom: 10px;
    color:white;
   
}

.nav-menu a{
    text-decoration: none;
    padding: 5px 0;
    position: relative;
}

.nav-menu a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background:#CF612F;
    transition: width 0.8s;
    position: absolute;
    left: 0;
    bottom: 0;
}

ul{
    display: flex;
    justify-content: right;
    gap:60px;
    padding: 10px;
    margin:17px;
    padding-top: 21px;
}

.logo{
    display: flex;
    justify-content: left; 
    float: left;
    width: 126px;
    height: 126px;   
    margin-top:-90px
}


.container{
margin: 60px;
padding: 18px;
}

.container h1{
    display: flex;
    justify-content: left;
    font-size: 58px;
    color:white;
    text-align:justify;
    padding-bottom: 50px; 
    position: relative;
    top: -20px;
}

.container p{
    text-align: justify;
    color:white;
    width: 40%;
    margin: 20px 0 20px auto;  
    line-height: 1.6; 
    position: relative;
    top: -84px;
    margin-left: -1px;
    transform: translateX(8px);  
    
 
}
button{
    padding: 10px 13px;
    font-size: 16px;
    cursor: pointer;
    background-color:#bd501d;
    color: white;
    border: none;
    border-radius:5px;  
    transform: translateX(15px);  
    
}

.botao{
    margin-left:20px;
    margin-top:-168px;
    display:flex;
    justify-content:left;
    margin-left:69px;
    top:-70px; 
      
}

.botao button{
    color:white;
    font-size: 14px;  
}
button:hover {
    background-color: #ca6e4c
}






